* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

.d-none {
    display: none;
}

.fade {
    animation: fadeEffect 2s forwards;
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}